[submodule "ports/shader-slang-rhi/source"]
	path = ports/shader-slang-rhi/source
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "ports/netimgui/source"]
	path = ports/netimgui/source
	url = https://github.com/sammyfreg/netImgui.git
[submodule "ports/ned-embed/source"]
	path = ports/ned-embed/source
	url = https://github.com/lukaasm/imgui-ned-embed
[submodule "sources/slang-rhi"]
	path = sources/slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "sources/shader-slang-rhi"]
	path = sources/shader-slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "sources/imanim"]
	path = sources/imanim
	url = https://github.com/soufianekhiat/ImAnim.git
